<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/album/album.css">
    <title>Results</title>
</head>
<body>


    <header class="site-header">
        <nav class="navbar navbar-expand-md fixed-top">
          <div class="container">

            <a class="navbar-brand mr-4" href="/">OphthoAI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">

              <div class="navbar-nav mr-auto"></div>


              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/cite">Cite</a>
                <a class="nav-item nav-link" href="/disclaimer">Disclaimer</a>
              </div>
            </div>
          </div>
        </nav>
  </header>


    <div class="jumbotron text-center">
        <div>

            <h1 class="jumbotron-heading">Results</h1>

            <p>This is CNV</p>

            <p>Model Diagnostics:</p>

            <p>83.29% probability of CNV<br></p>

            <p>0.08% probability of DME<br></p>

            <p>16.6% probability of Drusen<br></p>

            <p>0.03% probability that it is normal</p>



            <h1 class="jumbotron-heading">Your image is:</h1>

            <img id="picture" src="static\images\Flask-CNV.jpeg" style="width: 256px;">

        </div>


        <hr>

        <br><br>

        <p class="lead text-muted">Upload another image</p>

        <form action="/results" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="image">
            <button type="submit" name="S2L" class="btn btn-primary my-2">Upload file</button>
        </form>

    </div>


    



    <div class="container fixed-bottom">
        <p>&copy; 2023, Nishaant Bhambra and Jack Longwell.</a></p>
    </div>
    
</body>
</html>