<!DOCTYPE html>
<html>
<head>
      <link rel="shortcut icon" type="image/png" href="/calc/favicon.png"/>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/album/album.css">
            <title>OphthoAI</title>
            
            <link rel="stylesheet" href="static\css\style.css">
            <script src="https://code.jquery.com/jquery-3.6.1.min.js" ></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" ></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

<style>

</style>
</head>


<body>
  <header class="site-header">
        <nav class="navbar navbar-expand-md fixed-top">
          <div class="container">

            <a class="navbar-brand mr-4" href="/">OphthoAI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">

              <div class="navbar-nav mr-auto"></div>


              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/cite">Cite</a>
                <a class="nav-item nav-link" href="/disclaimer">Disclaimer</a>
              </div>
            </div>
          </div>
        </nav>
  </header>


  <div class = "container">
    <main role="main" class="container">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Retinal Pathology Diagnostic Algorithm</h1>
          <p class="lead text-muted">Upload your OCT B-Scans in JPG or PNG format to return a potential diagnosis of common retinal pathologies. The model gives a diagnosis and diagnostics, using a vision transformer model trained on real patient data.</p>
          
          
          
          <form action="/results" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="image">
            <button type="submit" name="S2L" class="btn btn-primary my-2">Upload file</button>
          </form>

          <!-- images section start-->

          <p class="text-center">Don't have any OCT scans? Click on one of the images below to run it through the algorithm!</p>




          <div class="responsive">
            <div class="gallery">
              <a href="/cnv">
                <img src="static\images\CNV1.jpeg" alt="CNV" width="200" height="200" style="border-radius: 8px;margin: 8px;">
              </a>
              <div class="desc">CNV</div>
            </div>
          </div>

          <div class="responsive">
            <div class="gallery">
              <a href="/dme">
                <img src= "static\images\DME1.jpeg" alt="DME" width="200" height="200" style="border-radius: 8px;margin: 8px;">
              </a>
              <div class="desc">DME</div>
            </div>
          </div>

          <div class="responsive">
            <div class="gallery">
              <a href="/drusen">
                <img src="static\images\DRUSEN1.jpeg" alt="Drusen" width="200" height="200" style="border-radius: 8px;margin: 8px;">
              </a>
              <div class="desc">Drusen</div>
            </div>
          </div>

          <div class="responsive">
            <div class="gallery">
              <a href="/normal">
                <img src="static\images\NORMAL1.jpeg" alt="Normal" width="200" height="200" style="border-radius: 8px;margin: 8px;">
              </a>
              <div class="desc">Normal</div>
            </div>
          </div>

          <div class="clearfix"></div>


        </div>
      </section>

      <!-- java image scroller start-->

      <section class="pics" id="pics">

        <div class="max-width">
          <h2 class="title">Test Your Skills</h2> 
          <p style="text-align: center;">Guess the results of the model, then click the picture to check your answer!</p>
          <div class="carousel owl-carousel">
            <div class="card">

              <div class="box">
                <a href="/I">
                  <img src="static\images\DME2.JPEG">
                  <div class="text">I</div>
                </a>
              </div>
            </div>


            <div class="card">

              <div class="box">
                <a href="/II">
                  <img src="static\images\CNV2.jpeg">
                  <div class="text">II</div>
                </a>
              </div>
            </div>



            <div class="card">

              <div class="box">
                <a href="/III">
                  <img src="static\images\DRUSEN2.jpeg">
                  <div class="text">III</div>
                </a>
              </div>
            </div>


            <div class="card">

              <div class="box">
                <a href="/IV">
                  <img src="static\images\NORMAL2.jpeg">
                  <div class="text">IV</div>
                </a>
              </div>
            </div>


            <div class="card">

              <div class="box">
                <a href="/V">
                  <img src="static\images\NORMAL3.jpeg">
                  <div class="text">V</div>
                </a>
              </div>
            </div>

            <div class="card">

              <div class="box">
                <a href="/VI">
                  <img src="static\images\DME3.jpeg">
                  <div class="text">VI</div>
                </a>
              </div>
            </div>

            <div class="card">

              <div class="box">
                <a href="/VII">
                  <img src="static\images\CNV3.jpeg">
                  <div class="text">VII</div>
                </a>
              </div>
            </div>

            <div class="card">

              <div class="box">
                <a href="/VIII">
                  <img src="static\images\DRUSEN3.jpeg">
                  <div class="text">VIII</div>
                </a>
              </div>
            </div>


            <div class="card">

              <div class="box">
                <a href="IX">
                  <img src="static\images\CNV4.jpeg">
                  <div class="text">IX</div>
                </a>
              </div>
            </div>

            <div class="card">

              <div class="box">
                <a href="/X">
                  <img src="static\images\CNV5.jpeg">
                  <div class="text">X</div>
                </a>
              </div>
            </div>


            <div class="card">

              <div class="box">
                <a href="/XI">
                  <img src="static\images\DRUSEN4.jpeg">
                  <div class="text">XI</div>
                </a>
              </div>
            </div>

            <div class="card">

              <div class="box">
                <a href="/XII">
                  <img src="static\images\DME4.jpeg">
                  <div class="text">XII</div>
                </a>
              </div>
            </div>


            <div class="card">

              <div class="box">
                <a href="/XIII">
                  <img src="static\images\NORMAL4.jpeg">
                  <div class="text">XIII</div>
                </a>
              </div>
            </div>

            <div class="card">

              <div class="box">
                <a href="/XIV">
                  <img src="static\images\NORMAL5.jpeg">
                  <div class="text">XIV</div>
                </a>
              </div>
            </div>

            <div class="card">

              <div class="box">
                <a href="/XV">
                  <img src="static\images\DRUSEN5.jpeg">
                  <div class="text">XV</div>
                </a>
              </div>
            </div>


            <div class="card">

              <div class="box">
                <a href="/XVI">
                  <img src="static\images\DME5.jpeg">
                  <div class="text">XVI</div>
                </a>
              </div>
            </div>


          </div>
        
        </div>


        <p class="bottom-50">
          
       </p>

      </section>




      <div class="row">
        <div class="col-md-8"></div>
      </div>

    </main>
    <div class="container fixed-bottom">
      <p>&copy; 2023, Nishaant Bhambra and Jack Longwell.</p>
    </div>
  </div>


  <script src="static\javascript\script.js"></script>
</body>
</html>